/* 
===================================
Themename: Chrome Apps
Author: Abu Shama
Version: 1.0
===================================
-----------CSS Index---------------



===================================
*/

@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Scheherazade New', serif;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background: #fff;
    padding: 10px 0px;
}

.logo img {
    height: 50px;
    margin-left: 30px;
}

.wrapper .sidebar ul {
    margin-top: 25px;
}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.wrapper .sidebar ul li a {
    color: #000;
    display: block;
    text-decoration: none;
}

.wrapper .sidebar ul li a .fas {
    width: 25px;
}

.wrapper .sidebar ul li:hover {
    background-color: #ddd;
}

.wrapper .sidebar ul li:hover a {
    color: #000;
}

.apps_btn {
    margin-left: 30px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
}

.apps_btn:hover {
    color: #ddd;
}

.wrapper .sidebar .social_media {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.wrapper .sidebar .social_media a {
    display: block;
    width: 40px;
    background: #ddd;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.wrapper .sidebar .social_media a:hover {
    color: #00b7f3;
}

.wrapper .main_content {
    width: 100%;
    margin-left: 250px;
}

.wrapper .main_content .header {
    padding: 10px;
    background: rgb(0, 183, 243);
    background: linear-gradient(90deg, rgba(0, 183, 243, 1) 35%, rgba(49, 121, 245, 1) 100%);
    color: #fff;
}

.wrapper .main_content .header h1 {
    margin-left: 10px;
    font-weight: bold;
}

.pop_info {
    box-shadow: 0px 0px 10px 1px #ddd;
    margin-top: 15px;
    margin-left: 25px;
    padding: 10px;
}

.pop_info button {
    margin-left: 530px;
}

.user_area {
    margin-left: 15px;
}

.card_top i {
    font-size: 100px;
    padding: 30px;
    color: #fff;
}

.card_top {
    background-color: #00b7f3;
    text-align: center;
}

.step_1{
    background-color: #00b7f3;
}


.step_2{
    background-color: #3f52f7;
}

.card_top p {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.card_info ul li a {
    text-decoration: none;
    color: #000;
}

.card_info ul li a i {
    font-size: 25px;
}

.card_info ul li {
    margin: 10px;
}

.card_icon p {
    font-size: 30px;
    padding: 25px;
    text-align: center;
    color: #00b7f3;
}

.card_icon {
    margin-top: 80px;
}